	<li class="list-group-item">
	
	<div class="col">
		{{name}}
	</div>

	<div class="col">
	<button class="eatBurger btn btn-outline-success" data-id="{{id}}" data-eat="{{eat}}">
		{{#if eat}}Devour!{{else}}Undo{{/if}}
	</button>
	<button class="delete btn btn-outline-danger" data-id="{{this.id}}" >
		DELETE
	</button>
	</div>
	</li>